/* Next.js CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a top level class of .list */
.list,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set default padding for buttons */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 0;
}

/* Remove default border */
button,
input {
  border: none;
  outline: none;
}

/* Remove horizontal padding */
fieldset {
  padding: 0;
}

/* Ensure horizontal consistency */
body,
input,
select,
textarea {
  font: 16px/1.4 sans-serif;
}

/* Remove default vertical scrollbar in Firefox */
html {
  overflow-y: scroll;
}

/* Remove default padding on media elements */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}
